.container{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 6px;
    margin-left: 190px;
    margin-right: 1055px;
    font-size: 25px;
    font-weight: 501;
}

.header{
    font-size: 30px;
    font-weight: 700;
    color: rgb(0,81,141);
}