.container5{
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    
}

.container6{
    margin-left: 170px;
    font-weight: 510;
    
}
.container7{
    margin-left: 25px;
    font-weight: 510; 
}